*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}
body{
    background: #FFFFFF;
}
a{
    text-decoration: none;
}
.header-nav a{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin: 0 40px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header{
    margin: 30px 0 0 0;
    background: #FFFFFF;
}
.hero-text{
    margin: 0 60px;
}
.hero-text h5{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin: 0 0 30px 0;
}
.hero-text h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #000000;
    width: 429px;
    margin: 0 0 20px 0;
}
.hero-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    width: 419px;
}
.hero-text h6{
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin: 15px 0 0 0;
}
.hero{
    display: flex;
    justify-content: space-between;

}
#hero{
    margin: 100px 0 0 0;
}
.about-text p{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin: 15px 0;
}
.about-text h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    width: 347px;
}
.about-text h3{
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin: 15px 0 0 0;
}
.about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about{
    margin: 100px 0 0 0;
}
.title{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin: 0 0 20px 0;
}
.element-text p {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin: 15px 0;
}
.element-text h2{
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}
.element-text h3{
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin: 15px 0;
}
.element-text img{
    width: 285px;
    height: 187px;
}
.element-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.element-btn{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
button{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0;
    width: 205px;
    height: 54px;
    margin: 50px 0 0 0;
}

#element{
    margin: 150px 0 0 0;
}
.product h1{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin: 0 0 20px 0;
}
.product-text p{
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
margin:15px 0;
}
.product-text h2{
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}
.product-text h3{
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
margin: 15px 0;
}
.product-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#product{
    margin: 150px 0 100px 0;
}
#footer{
    background: #141414;
    font-family: sans-serif;
}
.footer-logo img{
    margin: 50px 0 0 0;
}
.footer-logo p{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
    margin: 50px 0 0 15px;
}
.footer-logo{
    display: flex;
    align-items: center;
margin: 50px 0 50px 0;
}
.footer-line{
    width: 1350px;
    height: 2px;
    background: #4D4D4D;
}
.categories{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
    margin: 30px 0 0 0;
}
.subscribe{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
    margin-left: 960px;
    margin-top:-10px;
}
.footer-text h4 {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 20px 0;
}
.footer-text{
    display: flex;
}
.architecture{
    margin: 0 110px;
}
.graphic{
    margin: 0 50px;
}
.illustration{
    margin: 0 100px;
}
.btn{
    margin: -30px 0 0 50px;
}
input{
    width: 221px;
    height: 48px;
    background: #FFFFFF;
}
.footer-btn{
    width: 79px;
    height: 48px;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;

}
.follow{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
    margin-left: 220px;
    margin-top: -10px;
}
.template{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
    margin-top: -13px;
    margin-left: 470px;
}
.instagram{
    margin: 0 0 0 180px;
}
.power{
    margin: 0 0 0 180px;
}






